{% extends 'multiplex/customerbase.html' %}
{% load static %}
{% block content %}
<style>
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  </style>
<body>
  <br>
	<div class="wrapper">
		<div class="center">
      <form action="{% url 'payment' %}" method='POST'>
          {% csrf_token %}
          <br><br><br>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div><br><br>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Amount</label>
            <input type="number" name="amount" value={{total}}>
          </div><br><br>
          <div>
          <button type="submit" >Pay Now</button>
          </div>
        </form>
  </div>
		<br><br>
{% include "multiplex/movie_card.html" %}

<br><br><br><br><br><br><br><br><br>


	</div>
</body>
{% endblock %}